:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #5D5759;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: 'Raleway', sans-serif;
  --textFont: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 65%;
}

body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1, h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}

h1 span {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2.4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/

.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-primario {
  background-color: #1a83ff;
  color: #1a83ff;
  font-size: 30px;
}

.btn-primario:hover {
  background: var(--gris1);
  font-size: 25px;
}

.btn-secundario {
  background-color: var(--gris1);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-submit:hover {
  background-color: var(--gris2);
}

.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }
  aside {
    background-color: var(--blanco);
    flex: 0 0 300px;
  }
  .seccion-principal {
    flex: 1;
  }
}

/* BARRA LATERAL */

aside {
  padding: 3rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
  max-width: 25%;
  margin-left: 40%;
  font-size: medium;
}

.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}

.formulario-producto {
  margin-top: 6rem;
  max-width: 40%;
  margin-left: 30%;
  font-size: medium;
  border: 2px;
  border-radius: 20%;
  border-color: red;
}

.formulario-producto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}

.formulario-producto .h1 {
  margin: auto;
}

.formulario-pregunta {
  margin-top: 6rem;
  max-width: 50%;
  margin-left: 10rem;
  font-size: medium;
}

.camposNum {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  padding: 1rem;
  border: none;
  flex: 1;
  width: 100%;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}

.app-header {
  display: flex;
  padding: 4rem;
  max-width: 100%;
  margin-left: 10%;
}

.nombre-usuario {
  color: var(--blanco);
  font-size: 1.5rem;
  margin-right: 2%;
  width: 100%;
  margin-top: 14px;
}

.nombre-usuario span {
  font-weight: 100;
}

.boton-cerrar {
  margin-left: 70%;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.nav-principal a {
  color: var(--blanco);
  text-decoration: none;
}

.nav-principal a:first-of-type {
  margin-right: 2rem;
}

/** Formulario crear y editar tareas **/

.formulario {
  background-color: var(--gris3);
  padding: 4rem;
}

.formulario form {
  max-width: 300px;
  margin: 0 auto;
}

.contenedor-input {
  display: flex;
}

.contenedor-input label {
  margin-bottom: 1rem;
  color: var(--blanco);
}

.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 100%;
}

.input-date {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 10%;
}

/** TAREAS LISTADO **/

.estado button, .mensaje {
  font-weight: 900;
  font-family: var(--textFont);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}

.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0;
}

.mensaje:hover {
  cursor: default;
}

.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
}

.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: rgb(170, 0, 0);
  color: var(--blanco);
}

.form-usuario {
  background-color: #faf8f8;
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contenedor-principal {
  background-color: #faf8f8;
  height: 100vh;
  min-height: 800px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 50%;
  background-color: var(--blanco);
  border-radius: 1rem;
}

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.campo-form:last-of-type {
  margin: 0;
}

.campo-form label {
  flex: 0 0 100px;
  font-family: var(--textFont);
  font-size: medium;
}

.campo-form input[type="password"], .campo-form input[type="email"], .campo-form input[type="direccion"], .campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1;
}

.enlace-cuenta {
  margin-top: 2rem;
  display: inline-flex;
  opacity: .7;
  font-size: medium;
}

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}

.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
  max-width: 25%;
  font-size: medium;
  align-content: center;
  margin-bottom: 40%;
  margin-left: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  border: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boton-izquierdo {
  float: right;
}

/* Style the top navigation bar */

.topnav {
  width: 100%;
  background: rgb(5, 4, 4);
  padding-left: 30%;
}

.olvido {
  float: right;
  text-align: center;
}

/* Style the topnav links */

.topnav a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
  max-width: 100%;
}

.topnav a:hover {
  color: #fc2004;
  transition: all .3s;
  background-color: white;
}

/*menu logueado*/

.navegacion {
  background: rgb(5, 4, 4);
  max-width: 100%;
}

.navegacion ul {
  list-style: none;
}

.menu {
  margin-left: 18%;
  margin-right: 18%;
}

.menu>li {
  position: relative;
  display: inline-block;
}

.menu>li>a {
  display: block;
  padding: 15px 20px;
  color: #f7f5f5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: medium;
}

.menu li a:hover {
  color: #fc2004;
  transition: all .3s;
  background-color: white;
}

/* Submenu*/

.submenu {
  position: absolute;
  background: #333333;
  width: 120%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
}

.submenu li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  font-size: small;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.logo {
  margin: auto;
}

img {
  width: 40%;
  height: 40%;
  margin-left: 30%;
}

.image-somos {
  padding: 30px;
  margin: 5%;
}

.texto-somos {
  float: right;
  padding: 30px;
  margin: 5%;
}

.btn-cerrar {
  padding: 15px 20px;
  color: #f7f5f5;
  font-family: 'Open sans';
  text-decoration: none;
  font-size: medium;
  background-color: #1c1c1c;
  border: none;
  margin: 0px;
}

.btn-cerrar:hover {
  color: #fc2004;
  transition: all .3s;
  background-color: white;
}

.contentedor-externo {
  margin: 20px auto;
  width: 90%;
  height: 100%;
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**Barra Buscadora */

.textField {
  height: 32px;
  width: 200px;
  border: 1px solid #dee2e6;
  border-radius: 25px;
  background-color: #dee2e6;
  padding: 0 32px 0 16px;
}

.textField:hover {
  cursor: pointer;
  border: 1px solid #dee2e6;

}

.btnBuscar {
  height: 34px;
  width: 32px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.barraBusqueda {
  float: right;
  padding: 20px;
}

/*mensaje de campos obligatorios*/

.campos-obligatorios {
  color: #fc2004;
  margin-left: 15%;
  margin-bottom: 10%;
  margin-right: 15%;
}

.asterisco {
  color: #fc2004;
}

.pregunta {
  font-size: medium;
}

/*HEADER*/

.header {
  width: 100%;
  height: 80px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border: 5px;
}

.slogan {
  color: whitesmoke;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  margin-top: 3%;
}

.topnav-header {
  width: 100%;
  padding-left: 85%;
}

.topnav-header a {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
  max-width: 100%;
}

.header-segundario ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-color: #1c1c1c;
}

.header-segundario li {
  float: left;
  margin: 20px;
}

.header-segundario li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.header-segundario li a:hover:not(.active) {
  color: #fc2004;
  transition: all .3s;
  background-color: white;
}

.menos-ancho li {
  max-width: 2%;
}

.derecha {
  float: right;
  margin-bottom: 50px;
}

/*contenedor basico*/


.contenedor-basico {
  padding: 5rem 3rem;
  width: 90%;
  background-color: var(--blanco);
  border-radius: 1rem;
  margin: 5%;
}